
@using Aspose.Cells.Charts
@using PagedList
@using PagedList.Mvc
@model IList<Project.Model.OrderManager.ShopCartEntity>   

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "购物车列表";
}

@section Head
{

<script src="~/Scripts/ShopCart/List.js"></script>
}

<div>

    <table>
        @foreach (var shopCart in Model)
        {
            <tr>
                <td>
                    <input id="IsCheck_@shopCart.PkId" type="checkbox" onchange="pro.ListPage.UpdateCartCheck(@shopCart.PkId)"/>
                </td>
                <td>
                    @shopCart.ProductName
                </td>
                <td>
                    <input id="Num_@shopCart.PkId" value="@shopCart.Num" onchange="pro.ListPage.UpdateCartNum(@shopCart.PkId)"/>
                </td>
                <td>
                    @shopCart.IsExpire
                </td>
                <td>

                    <input type="button" value="删除" onclick="pro.ListPage.DelCart(@shopCart.PkId)"/>
                    @*<input type="button" value="收藏" onclick=""/>*@
                </td>
            </tr>

        }
    </table>
   <input type="button" value="下一步"/>

</div>

